.hero-bg {
    position: relative;
    z-index: 20;
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: left;
    align-items: center;
    color: #e9e4e4
}


.hero-bg h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}

.hero-bg h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    font-weight: normal;
}

.hero-bg button {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 100px;
    border: 0;
    background-color: #2091F9;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
    cursor: pointer;
}
@media screen and (max-width: 798px) {
    .hero-bg h1 {
        font-size: 35px;
    }
    .hero-bg h2 {
        font-size: 18px;
    }
}